*{
    margin: 0;
    padding: 0;
}
@media screen and (min-width:320px) and (max-width:480px){
    body{
        box-sizing: border-box;
        background-color:hsl(240, 19%, 88%);
        max-width: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        

    }
    .product__container{
        display:flex;
        flex-direction: column;
        align-items: center;
        max-width: 340px;   
        background-color: hsl(0, 0%, 100%);
        height: 600px;
        margin-top: 25px;
        border-radius: 20px;
        flex-wrap: wrap;
        

    }
    .product__image{       
        max-width: 320px;
        display: flex;
        align-items: start;
        justify-content: start;
        padding-right: 19px;
        flex-wrap: wrap;  

    }
    .product__image img{
        max-width: 340px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .product__content{
        margin-top: 25px;
        padding-left: 20px;   
    }
    .product__category{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        letter-spacing: 5px;       
        color: grey;
        font-size: 12px;
        transform: scaleY(0.9);
    }
    .product__name, .product__description, .product__price, .product__cartbutton{
        margin-top: 20px;
    }
    .product__name{
        font-family: 'Fraunces', serif;
        font-weight: 900; 
        font-size: medium;
        line-height: 32px;
        margin-top: 12px;
    }
    .product__description{
        margin-top: 16px;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        line-height: 22px;
        word-spacing: 1px;
        font-weight: 600; 
        letter-spacing: 1px;
        color: grey;
        width: 299px;
    }
    .product__price{
        display: flex;
        background-color: white;
        flex-direction: row;       
    }
    .discounted___price{
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: medium;
        color: rgba(8, 50, 8, 0.794);
    }
    .original__price{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        text-decoration: line-through;
        font-size: 0.8rem;
        margin-left: 13px;
        color: grey;
        font-weight: 600;
        padding-top: 5px;
    }
    button{
        background-color: rgba(8, 50, 8, 0.794);
        color: white;
        margin-top: 2px;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:100%;
        max-width: 301px;
        padding-top: 13px;
        padding-bottom: 13px;
        border-radius:8px;
        margin-top: 15px;
        font-family: 'Montserrat', sans-serif;

    }
    button p{
        margin-left: 10px;
        font-weight: 600;
    }
    .product__imaged{
        display: none;
    }
    .product__imaged img{
        display: none;
    }
}
@media screen and (min-width:1363px) and (max-width:1500px) {
    body{
        background-color: hsl(0, 0%, 100%);
    }
    .megacontainer{
        background-color: hsl(30, 38%, 92%);
        max-width: 1102px;
        height: 602px;
        margin-left: 127px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;


    }
    .product__imaged img{
        max-width: 239px;
        height: 365px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        
    }

    .product__container{
        background-color: hsl(0, 0%, 100%);
        display: flex;
        flex-direction: row;
        width: 478px;
        height: 365px;
        border-radius: 10px;
    }

    .product__image{
        display: none;
    }
    .product__image img{
        display: none;
    }
    .product__content{
        margin-top: 25px;
        margin-left:27px;
    }
    .product__category{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        letter-spacing: 4px;       
        color: rgb(72, 72, 72);
        font-size: 10px;
    }
    .product__name{
        font-family: 'Fraunces', serif;
        font-weight: bolder; 
        font-size: small;
        line-height: 27px;
        margin-top: 12px;
        max-width: 157px;
        margin-top: 16px;
    }
    .product__description{
        margin-top: 17px;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        line-height: 18px;
        word-spacing: 1px;
        font-weight: 400; 
        letter-spacing: 1px;
        color: grey;
        width: 183px;
    }
    .product__price{
        display: flex;
        flex-direction: row;
        margin-top: 23px;
    }
    .discounted___price{
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: small;
        color: rgba(8, 50, 8, 0.794);
    }
    .original__price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        text-decoration: line-through;
        font-size: 0.7rem;
        margin-left: 13px;
        color: grey;
        font-weight: 600;
        padding-top: 5px;
    }
    button{
        background-color: rgba(8, 50, 8, 0.794);
        color: white;
        margin-top: 2px;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:100%;
        max-width: 301px;
        padding-top: 13px;
        padding-bottom: 13px;
        border-radius:8px;
        margin-top: 15px;
        font-family: 'Montserrat', sans-serif;

    }
    button p{
        margin-left: 10px;
        font-weight: 600;
    }


}
@media screen and (min-width:481px) and (max-width:1091px) {
    

body{
    background-color: hsl(0, 0%, 100%);
}
.megacontainer{
    background-color: hsl(30, 38%, 92%);
    max-width: 1102px;
    height: 602px;
    margin-left: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}
.product__imaged img{
    max-width: 239px;
    height: 365px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

.product__container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    width: 478px;
    height: 365px;
    border-radius: 10px;
}

.product__image{
    display: none;
}
.product__image img{
    display: none;
}
.product__content{
    margin-top: 25px;
    margin-left:27px;
}
.product__category{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;       
    color: rgb(72, 72, 72);
    font-size: 10px;
}
.product__name{
    font-family: 'Fraunces', serif;
    font-weight: bolder; 
    font-size: small;
    line-height: 27px;
    margin-top: 12px;
    max-width: 157px;
    margin-top: 16px;
}
.product__description{
    margin-top: 17px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    line-height: 18px;
    word-spacing: 1px;
    font-weight: 400; 
    letter-spacing: 1px;
    color: grey;
    width: 183px;
}
.product__price{
    display: flex;
    flex-direction: row;
    margin-top: 23px;
}
.discounted___price{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: small;
    color: rgba(8, 50, 8, 0.794);
}
.original__price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    font-size: 0.7rem;
    margin-left: 13px;
    color: grey;
    font-weight: 600;
    padding-top: 5px;
}
button{
    background-color: rgba(8, 50, 8, 0.794);
    color: white;
    margin-top: 2px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width: 301px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius:8px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;

}
button p{
    margin-left: 10px;
    font-weight: 600;
}
}

@media screen and (min-width:1092px) and (max-width:1362px) {
    body{
        background-color: hsl(0, 0%, 100%);
        
    }
    .megacontainer{
        background-color: hsl(30, 38%, 92%);
        width: 100vw;
        max-width: 100%;
        height: 602px;
        margin-left: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;


    }
    .product__imaged img{
        max-width: 239px;
        height: 365px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        
    }

    .product__container{
        background-color: hsl(0, 0%, 100%);
        display: flex;
        flex-direction: row;
        width: 478px;
        height: 365px;
        border-radius: 10px;
    }

    .product__image{
        display: none;
    }
    .product__image img{
        display: none;
    }
    .product__content{
        margin-top: 25px;
        margin-left:27px;
    }
    .product__category{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        letter-spacing: 4px;       
        color: rgb(72, 72, 72);
        font-size: 10px;
    }
    .product__name{
        font-family: 'Fraunces', serif;
        font-weight: bolder; 
        font-size: small;
        line-height: 27px;
        margin-top: 12px;
        max-width: 157px;
        margin-top: 16px;
    }
    .product__description{
        margin-top: 17px;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        line-height: 18px;
        word-spacing: 1px;
        font-weight: 400; 
        letter-spacing: 1px;
        color: grey;
        width: 183px;
    }
    .product__price{
        display: flex;
        flex-direction: row;
        margin-top: 23px;
    }
    .discounted___price{
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: small;
        color: rgba(8, 50, 8, 0.794);
    }
    .original__price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        text-decoration: line-through;
        font-size: 0.7rem;
        margin-left: 13px;
        color: grey;
        font-weight: 600;
        padding-top: 5px;
    }
    button{
        background-color: rgba(8, 50, 8, 0.794);
        color: white;
        margin-top: 2px;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:100%;
        max-width: 301px;
        padding-top: 13px;
        padding-bottom: 13px;
        border-radius:8px;
        margin-top: 15px;
        font-family: 'Montserrat', sans-serif;

    }
    button p{
        margin-left: 10px;
        font-weight: 600;
    }


}
}